<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Header</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="header">
		<ul class="header-menu">
			<li class="menu-btn">
				<a href="#"><img src="logo.png" alt="logo"></a>
			</li>
			<li class="menu-btn">
				<input type="text" placeholder="Nhập nội dung cần tìm">
			</li>
			<li class="menu-btn"><a href="#">MP3</a></li>
			<li class="menu-btn"><a href="#">News</a></li>
			<li class="menu-btn"><a href="#">TV</a></li>
			<li class="menu-btn"><a href="#">Zalo Pc</a></li>
			<div class="box-user">
				<a href="#">
					<span class="avatar"><img src="avt.jpg" alt="avt"></span>
					<span class="text">Cá nhân</span>&nbsp;
					<i class="fas fa-chevron-down"></i>
				</a>
				<span class="arr-top"></span>
				<div class="box-user-info">
					<img src="avt.jpg" alt="avt">
					<div>
						<div><a href="#"><i class="fas fa-user"></i> Nhạc cá nhân</a></div>
						<div><a href="#"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></div>
						<div><a class="isBtn" href="#">Nâng cấp VIP</a></div>
					</div>
				</div>
			</div>
		</ul>
	</div>
</body>
</html>