<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="singer-hot">
		<div class="singer-hotest">
			<img src="a2_and_lunar_tear_by_renlewiz_dc0hf8o-pre.jpg" alt="">
		</div>
		<div class="singer-hot-er">
			<img src="aeolian_fanart_wlop_by_mamuka20_dbirhik-pre.jpg" alt="">
			<img src="anime-fashion-Gintama-genderswap-Sakata-Gintoki-67562-wallhere.com.jpg" alt="">
			<img src="db99085-70bb047b-091b-49c9-a6a5-e17a6a021d36.png" alt="">
			<img src="top-anh-anime-den-trang-de-thuong-dep-nhat-cho-nu-7.jpg" alt="">
			<img src="violet_evergarden_2_by_wlop_dc6nyxz-pre.jpg" alt="">
			<img src="violet_evergarden_2_by_wlop_dc6nyxz-pre.jpg" alt="">
			<img src="violet_evergarden_2_by_wlop_dc6nyxz-pre.jpg" alt="">
		</div>
	</div>
</body>
</html>