.topic-hot a{
	text-decoration: none;
	color: #777;
	font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
.topic-hot{

}
.topic-title{
	
}
.topic-title h3{
	font-weight: lighter;
	color: purple;
}
.topic-banner{

}
.topic-banner img{
	margin-bottom: 15px;
	display: block;
}
