<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="chart-5">
		<div class="chart-5-item">
			<div class="chart-number">1</div>
			<div class="chart-dash"> -- </div>
			<div class="chart-content">
				<img src="download (3).png" alt="">
				<div class="item-title">Đúng người đúng thời điểm</div>
				<div class="item-singer">Thanh Hưng</div>
			</div>
			<div class="chart-icon">
				<i>ic1</i>
				<i>ic2</i>
				<i>ic3</i>
			</div>
			<div class="chart-view-count">60,740</div>
		</div>

		<div class="chart-5-item">
			<div class="chart-number">1</div>
			<div class="chart-dash"> -- </div>
			<div class="chart-content">
				<img src="download (3).png" alt="">
				<div class="item-title">Đúng người đúng thời điểm</div>
				<div class="item-singer">Thanh Hưng</div>
			</div>
			<div class="chart-icon">
				<i>ic1</i>
				<i>ic2</i>
				<i>ic3</i>
			</div>
			<div class="chart-view-count">60,740</div>
		</div>

		<div class="chart-5-item">
			<div class="chart-number">1</div>
			<div class="chart-dash"> -- </div>
			<div class="chart-content">
				<img src="download (3).png" alt="">
				<div class="item-title">Đúng người đúng thời điểm</div>
				<div class="item-singer">Thanh Hưng</div>
			</div>
			<div class="chart-icon">
				<i>ic1</i>
				<i>ic2</i>
				<i>ic3</i>
			</div>
			<div class="chart-view-count">60,740</div>
		</div>

		<div class="chart-5-item">
			<div class="chart-number">1</div>
			<div class="chart-dash"> -- </div>
			<div class="chart-content">
				<img src="download (3).png" alt="">
				<div class="item-title">Đúng người đúng thời điểm</div>
				<div class="item-singer">Thanh Hưng</div>
			</div>
			<div class="chart-icon">
				<i>ic1</i>
				<i>ic2</i>
				<i>ic3</i>
			</div>
			<div class="chart-view-count">60,740</div>
		</div>
	</div>
</body>
</html>