<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="STYLE.CSS">
</head>
<body>
	<div class="wraper-list">
		<div class="list-left">
			<div class="title"><h3>NHẠC VIỆT HOT</h3></div>
			<div class="list-items">
				<div class="list-item">
					<img src="aeolian_fanart_wlop_by_mamuka20_dbirhik-pre.jpg" alt="">
					<div class="list-content">
						<div class="item-title">Quay lưng về nhau</div>
						<div class="item-singer">Lê Bảo Bình</div>
					</div>
				</div>
				<div class="list-item">
					<img src="aeolian_fanart_wlop_by_mamuka20_dbirhik-pre.jpg" alt="">
					<div class="list-content">
						<div class="item-title">Quay lưng về nhau</div>
						<div class="item-singer">Lê Bảo Bình</div>
					</div>
				</div>
				<div class="list-item">
					<img src="aeolian_fanart_wlop_by_mamuka20_dbirhik-pre.jpg" alt="">
					<div class="list-content">
						<div class="item-title">Quay lưng về nhau</div>
						<div class="item-singer">Lê Bảo Bình</div>
					</div>
				</div>
				<div class="list-item">
					<img src="aeolian_fanart_wlop_by_mamuka20_dbirhik-pre.jpg" alt="">
					<div class="list-content">
						<div class="item-title">Quay lưng về nhau</div>
						<div class="item-singer">Lê Bảo Bình</div>
					</div>
				</div>
			</div>
		</div>
		<div class="line"></div>
		<div class="list-right">
			<div class="title"><h3>NHẠC VIỆT MỚI</h3></div>
			<div class="list-items">
				<div class="list-item">
					<img src="aeolian_fanart_wlop_by_mamuka20_dbirhik-pre.jpg" alt="">
					<div class="list-content">
						<div class="item-title">Quay lưng về nhau</div>
						<div class="item-singer">Lê Bảo Bình</div>
					</div>
				</div>
				<div class="list-item">
					<img src="aeolian_fanart_wlop_by_mamuka20_dbirhik-pre.jpg" alt="">
					<div class="list-content">
						<div class="item-title">Quay lưng về nhau</div>
						<div class="item-singer">Lê Bảo Bình</div>
					</div>
				</div>
				<div class="list-item">
					<img src="aeolian_fanart_wlop_by_mamuka20_dbirhik-pre.jpg" alt="">
					<div class="list-content">
						<div class="item-title">Quay lưng về nhau</div>
						<div class="item-singer">Lê Bảo Bình</div>
					</div>
				</div>
				<div class="list-item">
					<img src="aeolian_fanart_wlop_by_mamuka20_dbirhik-pre.jpg" alt="">
					<div class="list-content">
						<div class="item-title">Quay lưng về nhau</div>
						<div class="item-singer">Lê Bảo Bình</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>