<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Zingchart - Weekly</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="weekly-chart">
		<div class="weekly-header"></div>
		<div class="weekly-item">
			<div class="item-number">02</div>
			<div class="item-content">
				<div class="item-title">Không phải em đúng không?</div>
				<div class="item-singer">Dương Hoàng Yến</div>
			</div>
			<div class="item-view-count">2,302</div>
		</div>
		<div class="weekly-item">
			<div class="item-number">02</div>
			<div class="item-content">
				<div class="item-title">Không phải em đúng không?</div>
				<div class="item-singer">Dương Hoàng Yến</div>
			</div>
			<div class="item-view-count">2,302</div>
		</div>
		<div class="weekly-item">
			<div class="item-number">02</div>
			<div class="item-content">
				<div class="item-title">Không phải em đúng không?</div>
				<div class="item-singer">Dương Hoàng Yến</div>
			</div>
			<div class="item-view-count">2,302</div>
		</div>
	</div>
</body>
</html>