<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="ab-hot">
		<div class="row">
			<div class="ab-album">
				<div class="ab-layout">
					<img src="player_939248.png">
					<!-- <i class="far fa-play-circle"></i> -->
					<!-- <i class="far fa-play-circle fa-spin"></i> ANIMATION -->
				</div>
			</div>
			<div class="ab-info">
				<div class="item-title">Không phải em đúng không?</div>
				<div class="item-singer">Dương Hoàng Yến</div>
			</div>
		</div>

		<div class="row">
			<div class="ab-album">
				<div class="ab-layout">
					<img src="player_939248.png">
					<!-- <i class="far fa-play-circle"></i> -->
					<!-- <i class="far fa-play-circle fa-spin"></i> ANIMATION -->
				</div>
			</div>
			<div class="ab-info">
				<div class="item-title">Không phải em đúng không?</div>
				<div class="item-singer">Dương Hoàng Yến</div>
			</div>
		</div>

		<div class="row">
			<div class="ab-album">
				<div class="ab-layout">
					<img src="player_939248.png">
					<!-- <i class="far fa-play-circle"></i> -->
					<!-- <i class="far fa-play-circle fa-spin"></i> ANIMATION -->
				</div>
			</div>
			<div class="ab-info">
				<div class="item-title">Không phải em đúng không?</div>
				<div class="item-singer">Dương Hoàng Yến</div>
			</div>
		</div>

		<div class="row">
			<div class="ab-album">
				<div class="ab-layout">
					<img src="player_939248.png">
					<!-- <i class="far fa-play-circle"></i> -->
					<!-- <i class="far fa-play-circle fa-spin"></i> ANIMATION -->
				</div>
			</div>
			<div class="ab-info">
				<div class="item-title">Không phải em đúng không?</div>
				<div class="item-singer">Dương Hoàng Yến</div>
			</div>
		</div>
	</div>
</body>
</html>